/* -------------------------------------------------------------------------- */
/*                       COMMON STYLE FOR ALL HTML PAGES                      */
/* -------------------------------------------------------------------------- */

html {
	margin: 0;
	/* background-color: #EEE; */
	font-family: 'Avenir', sans-serif;
}

body {
	margin: 20px
}

.card {
	height: auto;
	width: fit-content;
	box-shadow: 0 1px 8px 2px #d0dfe785;
	padding: 40px;
	border-radius: 3px;
	margin: 20px;
}

/* ---------------------------- IFRAME/NAV STYLE ---------------------------- */
iframe {
	width: 100%;
	height: 80px;
}



main {
	margin: 50px;
}

main h1 { text-align: center; }

/* `a` display: removed default link decoration */
a, a:link, a:visited, a:active {
	color: unset;
	text-decoration: none;
}

a:link {
	text-decoration: underline;
}

/* ------------------------------- CODE STYLE ------------------------------ */
code:not(:empty) { 
	background-color: #daeaf275;
	padding: 3px 8px;
	border-radius: 3px;
	color: #333;
	display: inline-block;
	margin: 1px;
}

/* ------------------------- INPUT AND BUTTON STYLE ------------------------- */
input[type=button],
input[type=submit],
input[type=reset],
button {
	border: none;
	border-radius: 3px;
	padding: 10px 20px;
	cursor: pointer;
	background-color: #FFF;
	box-shadow: 0 1px 5px 1px #DDD;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #333;
}

input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover,
button:hover {
	box-shadow: 0 1px 7px 1px #DDD;
	color: #06F
}

input[type=button]:active,
input[type=button]:active,
input[type=button]:active,
button:active {
	box-shadow: 0 1px 3px 1px #DDD;
}


#element-description, #element-demonstration {
	display: flex
}

li.li-root {
	list-style-type: "🔸";
}

li:not(.li-root) {
	list-style-type: "🔹";
}

li.inherit {
	list-style-type: inherit;
}


/* -------------------------------------------------------------------------- */
/*                                  HOME PAGE                                 */
/* -------------------------------------------------------------------------- */

main#home {
	display: flex;
}

main#home section {
	margin: 20px;
}

fieldset {
	display: flex;
	align-items: center;
	padding:  20px;
	height: 400px;
	width: 400px;
	margin: 20px
}

/* -------------------------------------------------------------------------- */
/*                                  HTML PAGE                                 */
/* -------------------------------------------------------------------------- */
#lists-demonstration,
#buttons-demonstration {
	display: flex;
}


/* -------------------------------------------------------------------------- */
/*                                  FORM PAGE                                 */
/* -------------------------------------------------------------------------- */

main #page-content {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

main#form-page #form-query-details {
	justify-content: space-evenly
}

[id^=form-query-details_] {
	margin: 30px;
}

[id^=form-query-details_] + [id^=form-query-details_] {
	margin-top: 50px
}

[id^=form-query-details_] code {
	padding: 20px;
}

fieldset form {
	width: 350px;
	padding: 20px;
}

fieldset input {
	float: right;
}

#form-buttons {
	display: flex;
	justify-content: center;
	width: 100%;
	margin-top: 30px
}

form input[type=submit],
form input[type=submit] {
	margin: 0 20px;
}

[type=submit] ~ [type=reset] {
	margin-right: 20px;
}


/* -------------------------------------------------------------------------- */
/*                                  CSS PAGE                                  */
/* -------------------------------------------------------------------------- */

/* ------------------------------- BOX MODELS ------------------------------- */

#box-models_container {
	display: flex;
}

#box-models_demonstration {
	margin: 0 20px;
}

.box-model {
	height: auto;
	border-radius: 3px;
	display: flex;
	flex-direction: column;
}

.box-model:hover {
	box-shadow: inset 0 0 6px 0 #777;
	cursor: pointer;
}

.box-model.margin, .box-model.padding {
	background: repeating-linear-gradient(
		65deg,
		#DDD, #DDD 2px,
		transparent 2px, transparent 5px
	);
}

.box-model span {
	text-align: center;
	color: #222;
}

.box-model.margin {
	width: 200px;
	padding: 0 20px 20px 20px;
	background-color: orange;
}

.box-model.margin span {
	margin-top: 0
}

.box-model.border {
	border: 20px solid #fd0;
}

.box-model.border > span{
	position: absolute;
	transform: translate(55px, -20px)
}
.box-model.padding {
	padding: 0px 20px 20px 20px;
	background-color: rgb(97, 204, 85);
}

.box-model.content {
	height: auto;
	background-color: white;
}



/* --------------------------------- FLEXBOX -------------------------------- */
 table#table_flexbox {
	background-color: #FFF;
	margin: 20px;
	border-radius: 3px;
	box-shadow: 0 0 8px 2px #CCC;
	/* prevents table to display all cell border and display one border instead */
	border-collapse: collapse;
 }
 #table_flexbox td {
	border:1px solid #DDD;
	padding: 10px;
}

/* Targets all properties cells values */
#table_flexbox tbody tr td:nth-child(2) {
	font-weight: bolder;
}


/* .row-section: table's  stronger cells border line  */
#table_flexbox tbody .row-section {
	border-top: 2px solid #6CC;
}

#table_flexbox tbody li.pipe {
	list-style-type: "|";
}


/* ------------------------ DEMONSTRATION BLOCK STYLE ----------------------- */
 #flexbox_demonstration div {
	display: flex;
 }

#flexbox_demonstration div #demo-application {
	display: flex;
	height: 50px;
	padding: 5px;
	margin: 10px;
	width: 200px;
	background-color: #6CC;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
}

#demo-application > span {
	align-self: flex-start;
	content: " ";
	transition: all 1s;

}

#demo-application > span:hover {
	align-self: flex-end;
}

#demo-application > span:hover:after {
	content: "🤣";
}

